h2 {
  color: gray;
  font-style: italic;
}
.list {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  /* display: hidden; */
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  color: green;
}
